body {
    padding-top: 18px;
}

.appstats-func-name {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

.appstats-table td {
    min-width: 70px;
}

.appstats-table th {
    width: 100%;
}

.num-of-lines-switcher {
    margin-bottom: 20px
}

.num-of-hours-switcher {
    margin-bottom: 20px
}
