{% extends "layout.html" %}

{% block body %}
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th> Controller.action </th>
                {% for field in g.fields %}
                    <th> <a href="{{ url_for('main_page', sort_by=field) }}"> {{ field }} </a> </th>
                {% endfor %}
            </tr>
            <tbody>
                {% for row in data %}
                    <tr>
                        <td> {{ row['NAME'] }} </td>
                        {% for field in g.fields %}
                            <td> {{ row[field] }} </td>     
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </thead>
    </table>
{% endblock %}
