{% extends "layout.jinja" %}
{% block body %}
    <div class="num-of-hours-switcher">
        <span class="appstats-func-name">{{ name }}</span>
        <form class="pull-right" >
            <div class="btn-group" data-toggle="buttons">
                {% for def_hours in info_hours_options %}
                <label class="btn btn-primary {{ 'active' if hours == def_hours else ''}}">
                    <input onchange="this.form.submit()" type="radio" name="hours" value="{{ def_hours }}">{{ def_hours|pretty_hours }}
                </label>
                {% endfor %}
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-md-5">
            <table class="table table-condensed">
                <thead>
                    <th> Count </th>
                    <th> Avg(1h) </th>
                    <th> Avg(24h) </th>
                    <th> 1h </th>
                    <th> 24h </th>
                </thead>
                <tbody>
                    {% for field in fields %}
                        <tr>
                            <td>{{ field['name'] }}</td>
                            {% set hour_aver = doc.get('%s_%s' % (field['key'], 'hour_aver')) %}
                            {% set day_aver = doc.get('%s_%s' % (field['key'], 'day_aver')) %}
                            {% set hour = doc.get('%s_%s' % (field['key'], 'hour')) %}
                            {% set day = doc.get('%s_%s' % (field['key'], 'day')) %}
                            {% if field['format'] == 'time' %}
                                <td> {{ hour_aver|time }} </td>
                                <td> {{ day_aver|time }} </td>
                                <td> {{ hour|time }} </td>
                                <td> {{ day|time }} </td>
                            {% elif field['format'] == 'filesize' %}
                                <td> {{ hour_aver|filesizeformat }} </td>
                                <td> {{ day_aver|filesizeformat }} </td>
                                <td> {{ hour|filesizeformat }} </td>
                                <td> {{ day|filesizeformat }} </td>
                            {% elif field['format'] == 'count' %}
                                <td> {{ hour_aver|count }} </td>
                                <td> {{ day_aver|count }} </td>
                                <td> {{ hour|count }} </td>
                                <td> {{ day|count }} </td>
                            {% else %}
                                <td> {{ hour_aver|default }} </td>
                                <td> {{ day_aver|default }} </td>
                                <td> {{ hour|default }} </td>
                                <td> {{ day|default }} </td>
                            {% endif %}
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-7">
            <div style="height: 600px; margin-bottom: 10px" id="graph"></div>
        </div>
    </div>
    <style>
    .highcharts-tooltip-row {
        clear: both;
        min-width: 130px;
    }
    .highcharts-tooltip-name {
        float: left;
    }
    .highcharts-tooltip-value {
        margin: 0px 0px 0px 5px;
        float: left;
    }
    </style>
    <script>
        function draw_graph(rate_data, timing_data, timing_labels, container_id) {
            var series = [
                {
                    data: rate_data,
                    name: 'RATE'
                },
                {
                    data: timing_data[0],
                    name: timing_labels[0],
                    yAxis: 1
                }
            ];

            for (var i=1; i < timing_labels.length; i++) {
                series.push({
                    data: timing_data[i],
                    name: timing_labels[i],
                    stacking: 'normal',
                    yAxis: 1
                });
            }

            Highcharts.setOptions({
                global: {
                    useUTC: false
                }
            });

            var chart = new Highcharts.Chart({
                chart: {
                    renderTo: container_id,
                    type: 'area',
                    backgroundColor: '#f5f5f5',
                    borderColor: 'rgba(0, 0, 0, 0.07)',
                    borderWidth: 1.0
                },
                title: {
                    text: null
                },
                xAxis: {
                    type: 'datetime',
                    title: {
                        text: null
                    }
                },
                yAxis: [
                    {
                        title: {
                            text: 'Rate, N/sec'
                        },
                        height: 250,
                        startOnTick: false,
                        showFirstLabel: false,
                        lineWidth: 2
                    },
                    {
                        title: {
                            text: 'Timings, ms'
                        },
                        top: 280,
                        height: 250,
                        offset: 0,
                        startOnTick: false,
                        showFirstLabel: false,
                        lineWidth: 2
                    }
                ],
                legend: {
                    borderWidth: 0,
                    enabled: true,
                    margin: 4
                },
                tooltip: {
                    shared: true,
                    crosshairs: true,
                    animation: false,
                    useHTML: true,
                    positioner: function () {
                        return {x: 5, y: 5};
                    },
                    borderWidth: 2,
                    borderColor: 'rgba(69,114,167,0.5)',
                    backgroundColor: 'rgba(255,255,255,0.3)',
                    valueDecimals: 1,
                    pointFormat: '' +
                        '<div class="highcharts-tooltip-row">' +
                            '<span class="highcharts-tooltip-name" style="color:{series.color};">' +
                                '{series.name}: ' +
                            '</span>' +
                            '<div class="highcharts-tooltip-value">' +
                                '<b>{point.y}</b>' +
                            '</div>' +
                        '</div>'

                },
                plotOptions: {
                    area: {
                        fillOpacity: 1,
                        marker: {
                            enabled: false
                        },
                        shadow: false,
                        lineWidth: 0
                    },
                    series: {
                        animation: false
                    }
                },
                series: series
            });
        }

        $(document).ready(function() {
            draw_graph({{ num_data|json }},
                       {{ time_data|json }},
                       {{ time_labels|safe }},
                       'graph');
        });
    </script>
    <script src="{{ url_for('static', filename='js/highcharts.js') }}"></script>
{% endblock %}
