{% extends "layout.html" %}
{% block body %}
    <form class="pull-right">
       <input name="sort_by_field" type="hidden" value="{{ sort_by_field }}"/>
        <input name="sort_by_period" type="hidden" value="{{ sort_by_period }}"/>
        <input name="selected_field" type="hidden" value="{{ selected_field }}"/>
        <span class="btn-group" data-toggle="buttons-radio">
            <button name="number_of_lines" value="20" class="btn {{ 'active' if number_of_lines == 20 else ''}}">20</button>
            <button name="number_of_lines" value="50" class="btn {{ 'active' if number_of_lines == 50 else ''}}">50</button>
            <button name="number_of_lines" value="100" class="btn {{ 'active' if number_of_lines == 100 else ''}}">100</button>
        </span>
    </form>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
            <tr>
                {% if sort_by_field == 'name' %}
                    <th> NAME </th>
                {% else %}
                    <th> <a href="{{ url_for(request.endpoint, sort_by_field='name',
                                             sort_by_period='hour',
                                             number_of_lines=number_of_lines,
                                             selected_field=selected_field) }}">
                            NAME
                        </a>
                    </th>
                {% endif %}
                {% for field in fields %}
                    {% if field['key'] == selected_field %}
                        <th COLSPAN="4"> {{ field['name'] }} </th>
                    {% else %}
                        <th><a href="{{ url_for(request.endpoint, app_id=app_id,
                                                sort_by_field=sort_by_field,
                                                sort_by_period=sort_by_period,
                                                number_of_lines=number_of_lines,
                                                selected_field=field['key']) }}">
                                {{ field['name'] }}
                            </a>
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td> </td>
                    {% for field in fields %}
                        {% if field['key'] == sort_by_field and sort_by_period == 'hour_aver' %}
                                <td> &ltH&gt </td>
                            {% else %}
                                <td><a href="{{ url_for(request.endpoint, app_id=app_id,
                                                        sort_by_field=field['key'],
                                                        sort_by_period='hour_aver',
                                                        number_of_lines=number_of_lines,
                                                        selected_field=selected_field) }}">
                                        &ltH&gt
                                    </a>
                                </td>
                            {% endif %}

                            {% if field['key'] == selected_field %}
                                {% if field['key'] == sort_by_field and sort_by_period == 'day_aver' %}
                                    <td> &ltD&gt </td>
                                {% else %}
                                    <td><a href="{{ url_for(request.endpoint, app_id=app_id,
                                                            sort_by_field=field['key'],
                                                            sort_by_period='day_aver',
                                                            number_of_lines=number_of_lines,
                                                            selected_field=selected_field) }}">
                                            &ltD&gt
                                        </a>
                                    </td>
                                {% endif %}

                                {% if field['key'] == sort_by_field and sort_by_period == 'hour' %}
                                    <td> H </td>
                                {% else %}
                                    <td><a href="{{ url_for(request.endpoint, app_id=app_id,
                                                            sort_by_field=field['key'],
                                                            sort_by_period='hour',
                                                            number_of_lines=number_of_lines,
                                                            selected_field=selected_field) }}">
                                            H
                                        </a>
                                    </td>
                                {% endif %}

                                {% if field['key'] == sort_by_field and sort_by_period == 'day' %}
                                    <td> D </td>
                                {% else %}
                                    <td><a href="{{ url_for(request.endpoint, app_id=app_id,
                                                            sort_by_field=field['key'],
                                                            sort_by_period='day',
                                                            number_of_lines=number_of_lines,
                                                            selected_field=selected_field) }}">
                                            D
                                        </a>
                                    </td>
                                {% endif %}
                            {% endif %}
                    {% endfor %}
                </tr>
                {% for doc in docs %}
                    <tr>
                        <td> <a href="{{ url_for('info_page', name=doc['name'], app_id=app_id) }}"> {{ doc['name'] }} </a> </td>
                        {% for field in fields %}
                            {% if field['format'] == 'time' %}
                                <td> {{ doc.setdefault('%s_%s' % (field['key'], 'hour_aver'), 0.0) | time_format }} </td>
                                {% if field['key'] == selected_field %}
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'day_aver'), 0.0) | time_format }} </td>
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'hour'), 0.0) | time_format }} </td>
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'day'), 0.0) | time_format }} </td>
                                {% endif %}
                            {% elif field['format'] == 'filesize' %}
                                <td> {{ doc.setdefault('%s_%s' % (field['key'], 'hour_aver'), 0.0) | filesizeformat }} </td>
                                {% if field['key'] == selected_field %}
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'day_aver'), 0.0) | filesizeformat }} </td>
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'hour'), 0.0) | filesizeformat }} </td>
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'day'), 0.0) | filesizeformat }} </td>
                                {% endif %}
                            {% elif field['format'] == 'count' %}
                                <td> {{ doc.setdefault('%s_%s' % (field['key'], 'hour_aver'), 0.0) | count_format }} </td>
                                {% if field['key'] == selected_field %}
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'day_aver'), 0.0) | count_format }} </td>
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'hour'), 0.0) | count_format }} </td>
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'day'), 0.0) | count_format }} </td>
                                {% endif %}
                            {% else %}
                                <td> {{ doc.setdefault('%s_%s' % (field['key'], 'hour_aver'), 0.0) }} </td>
                                {% if field['key'] == selected_field %}
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'day_aver'), 0.0) }} </td>
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'hour'), 0.0) }} </td>
                                    <td> {{ doc.setdefault('%s_%s' % (field['key'], 'day'), 0.0) }} </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
    </table>
{% endblock %}
