{% extends "layout.html" %}
{% block body %}
    <div class="btn-group pull-right num-of-lines-switcher">
        <button class="btn btn-mini btn-inverse dropdown-toggle" data-toggle="dropdown">
            {{ number_of_lines }} rows
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="{{ current_url(number_of_lines=10) }}">10</a></li>
            <li><a href="{{ current_url(number_of_lines=25) }}">25</a></li>
            <li><a href="{{ current_url(number_of_lines=50) }}">50</a></li>
        </ul>
    </div>
    <table class="table appstats-table table-bordered table-striped table-condensed table-hover">
        <thead>
            <tr>
                {% if sort_by_field == 'name' %}
                    <th> NAME </th>
                {% else %}
                    <th> <a href="{{ current_url(sort_by_field='name',
                                                 sort_by_period='hour') }}">
                            NAME
                        </a>
                    </th>
                {% endif %}
                {% for field in fields %}
                    {% if field['key'] == selected_field %}
                        <th COLSPAN="4"> {{ field['name'] }} </th>
                    {% else %}
                        <th><a href="{{ current_url(selected_field=field['key']) }}">
                                {{ field['name'] }}
                            </a>
                        </th>
                    {% endif %}
                {% endfor %}
            </tr>
        </thead>
            <tbody>
                <tr>
                    <td></td>
                    {% for field in fields %}
                        {% if field['key'] == sort_by_field and sort_by_period == 'hour_aver' %}
                                <td> Avg(1h) </td>
                            {% else %}
                                <td><a href="{{ current_url(sort_by_field=field['key'],
                                                            sort_by_period='hour_aver') }}">
                                        Avg(1h)
                                    </a>
                                </td>
                            {% endif %}

                            {% if field['key'] == selected_field %}
                                {% if field['key'] == sort_by_field and sort_by_period == 'day_aver' %}
                                    <td> Avg(24h) </td>
                                {% else %}
                                    <td><a href="{{ current_url(sort_by_field=field['key'],
                                                                sort_by_period='day_aver') }}">
                                            Avg(24h)
                                        </a>
                                    </td>
                                {% endif %}

                                {% if field['key'] == sort_by_field and sort_by_period == 'hour' %}
                                    <td> 1h </td>
                                {% else %}
                                    <td><a href="{{ current_url(sort_by_field=field['key'],
                                                                sort_by_period='hour') }}">
                                            1h
                                        </a>
                                    </td>
                                {% endif %}

                                {% if field['key'] == sort_by_field and sort_by_period == 'day' %}
                                    <td> 24h </td>
                                {% else %}
                                    <td><a href="{{ current_url(sort_by_field=field['key'],
                                                                sort_by_period='day') }}">
                                            24h
                                        </a>
                                    </td>
                                {% endif %}
                            {% endif %}
                    {% endfor %}
                </tr>
                {% for doc in docs %}
                    <tr>
                        <td colspan="{{ fields|length + 4 }}">
                            <a href="{{ url_for('info_page', name=doc['name'], app_id=app_id) }}"> {{ doc['name'] }} </a>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        {% for field in fields %}
                            {% set hour_aver = doc.get('%s_%s' % (field['key'], 'hour_aver')) %}
                            {% set day_aver = doc.get('%s_%s' % (field['key'], 'day_aver')) %}
                            {% set hour = doc.get('%s_%s' % (field['key'], 'hour')) %}
                            {% set day = doc.get('%s_%s' % (field['key'], 'day')) %}
                            {% if field['format'] == 'time' %}
                                <td> {{ hour_aver|time }} </td>
                                {% if field['key'] == selected_field %}
                                    <td> {{ day_aver|time }} </td>
                                    <td> {{ hour|time }} </td>
                                    <td> {{ day|time }} </td>
                                {% endif %}
                            {% elif field['format'] == 'filesize' %}
                                <td> {{ hour_aver|filesizeformat }} </td>
                                {% if field['key'] == selected_field %}
                                    <td> {{ day_aver|filesizeformat }} </td>
                                    <td> {{ hour|filesizeformat }} </td>
                                    <td> {{ day|filesizeformat }} </td>
                                {% endif %}
                            {% elif field['format'] == 'count' %}
                                <td> {{ hour_aver|count }} </td>
                                {% if field['key'] == selected_field %}
                                    <td> {{ day_aver|count }} </td>
                                    <td> {{ hour|count }} </td>
                                    <td> {{ day|count }} </td>
                                {% endif %}
                            {% else %}
                                <td> {{ hour_aver|default }} </td>
                                {% if field['key'] == selected_field %}
                                    <td> {{ day_aver|default }} </td>
                                    <td> {{ hour|default }} </td>
                                    <td> {{ day|default }} </td>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
    </table>
{% endblock %}
